/* CSS Reset https://www.joshwcomeau.com/css/custom-css-reset */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}
/* End of CSS Reset */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.query {
  margin: 16px;
  padding: 8px 16px;
  border: none;
  border-radius: 16px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
  font-size: 1.5rem;
}

.query:focus {
  outline: none;
}

.weather-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 24px;
}

.weather-container .location {
  grid-column: span 2;
  text-align: center;
}

.weather-summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-summary {
  display: flex;
  align-items: center;
  gap: 8px;
}

.main-summary .weather-icon {
  width: 100px;
}

.weather-summary .current-temperature {
  font-size: 4rem;
}

.current-data {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: start;
}

.icon {
  width: 60px;
}

.data-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.data-text {
  display: flex;
  flex-direction: column;
}

.hourly-container {
  display: flex;
  justify-content: space-around;
  gap: 24px;
}

.hourly-data {
  display: flex;
  flex-direction: column;
  align-items: center;
}
